#darkTheme.profile {
  background-color: #303030;
  color: #fafafa;
  padding-bottom: 200px;
}

#lightTheme.profile {
  background-color: #fafafa;
  color: #303030;
  padding-bottom: 200px;
}

.container {
  padding: 10%;
  width: 85%;
  padding: 0 20px;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 10%;
  /* font-size: 1em; */
}
