#darkTheme {
  background-color: #303030;
  color: #fafafa;
  padding-bottom: -80px !important;
}

#lightTheme {
  background-color: #fafafa;
  color: #303030;
  padding-bottom: -80px !important;
}

.emotionButtons {
  border: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
