#darkTheme.profile {
  background-color: #303030;
  color: #fafafa;
}

#lightTheme.profile {
  background-color: #fafafa;
  color: #303030;
}

.profile-pic-css {
  border-radius: 50%;
  width: 40%;
  height: auto;
  margin: 2em;
}
