.trophy-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 300px;
}

.trophy-button {
  margin: 7px;
  /* padding: 10px; */
  width: 100%;
}
