.App {
  text-align: center;
}

/* .MuiBottomNavigationAction-root {
  --green: #31986a;
} */

#darkTheme {
  background-color: #303030;
  color: #fafafa;
  height: 100%;
}

#lightTheme {
  background-color: #fafafa;
  color: #303030;
  height: 100%;
}

.MuiBottomNavigationAction-wrapper {
  display: 'inline-flex';
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
  flex-direction: 'column';
  /* color: white; */
}

/* #app-menu:hover {
  background-color: #31986a;
} */

/* .Mui-selected {
  background-color: #4a90e2;
} */

/* .menu-item:hover {
  background-color: #4a90e2;
} */
