.App {
  text-align: center;
}

#darkTheme {
  background-color: #303030;
  color: #fafafa;
  /* margin-bottom: 0 !important; */
}

#lightTheme {
  background-color: #fafafa;
  color: #303030;
  /* margin-bottom: 0 !important; */
}

.MuiBottomNavigationAction-wrapper {
  display: 'inline-flex';
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
  flex-direction: 'column';
  /* color: white; */
}
