:root {
  /* --green: #31986a;
  --blue: #4a90e2;
  --blueAlpha: #4a91e27c; */
  --fontFamily: Roboto, Arial, sans-serif;
}

.btn {
  /* background-color: var(--green);
  color: white; */
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  border-radius: 30px;
  outline: none;
}

.file-entry {
  margin: 1em;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  align-content: space-around;
  overflow: hidden;
}

/* 
button:hover {
  background-color: var(--blue);
} */

.flex-row {
  display: flex;
  flex-direction: row;
}

/* .nav-bar {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/* .navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.flex-col {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

body {
  /* margin: 1em; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-pic {
  border-radius: 50%;
}

#soc-logo {
  width: 8em;
  display: flex;
  align-self: center;
  margin: 0.5em;
}

* {
  font-family: var(--fontFamily);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* .wrapper {
  padding-bottom: 55px;
} */

.container {
  padding: 10%;
  width: 85%;
  padding: 0 20px;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10%;
  font-size: 1em;
}

/* Emma workign on Buttons */
/* .MuiButton-outlined {
  padding: 2em;
}
.MuiButton-outlinedPrimary {
  margin: 3em;
} */
